<div class="container">
    <div class="pipelineStage">
        <h3>Potential Value</h3>
        <div class="flex">
            <div>
                <i></i>
                <p>30</p>
            </div>
            <div>
                <i></i>
                <p>3.23 min</p>
            </div>
            <div>
                <i></i>
                <p>2</p>
            </div>
        </div>
        <div>
            <app-client-card></app-client-card>
        </div>
    </div>

    <div class="pipelineStage">
        <h3>Focus</h3>
        <div class="flex">
            <div>
                <i></i>
                <p>30</p>
            </div>
            <div>
                <i></i>
                <p>3.23 min</p>
            </div>
            <div>
                <i></i>
                <p>2</p>
            </div>
        </div>
        <div>
            <app-client-card></app-client-card>
        </div>
    </div>

    <div class="pipelineStage">
        <h3>Contact Made</h3>
        <div class="flex">
            <div>
                <i></i>
                <p>30</p>
            </div>
            <div>
                <i></i>
                <p>3.23 min</p>
            </div>
            <div>
                <i></i>
                <p>2</p>
            </div>
        </div>
        <div>
            <app-client-card></app-client-card>
        </div>
    </div>

    <div class="pipelineStage">
        <h3>Offer Sent</h3>
        <div class="flex">
            <div>
                <i></i>
                <p>30</p>
            </div>
            <div>
                <i></i>
                <p>3.23 min</p>
            </div>
            <div>
                <i></i>
                <p>2</p>
            </div>
        </div>
        <div>
            <app-client-card></app-client-card>
        </div>
    </div>

    <div class="pipelineStage">
        <h3>Getting Ready</h3>
        <div class="flex">
            <div>
                <i></i>
                <p>30</p>
            </div>
            <div>
                <i></i>
                <p>3.23 min</p>
            </div>
            <div>
                <i></i>
                <p>2</p>
            </div>
        </div>
        <div>
            <app-client-card></app-client-card>
        </div>
    </div>

</div>

