
<div class="myCard">
    <div class="flex spaceBtw">
        <h4>Agap Consultant</h4>
        <a>...</a>
    </div>
    <div class="flex spaceStart">
        <div class="bg gray"><p>Returning</p></div>
        <div class="bg blue"><p>70%</p></div>
    </div>
    <div class="flex spaceStart">
        <div>
            <i></i>
            <p>Noha Saab</p>
        </div>
        <p>01102073302</p>
    </div>
    <div class="flex spaceStart">
        <i></i>
        <p>05.06.2019</p>
    </div>
</div>
